p a:link:hover{
    text-decoration: none;
    color: #1d9dd9
}

.edx-footer-new .footer-nav-links a, .edx-footer-new .footer-follow-links a {
    color: #717171;
    border-bottom: none;
}

.edx-footer-new .footer-nav-links a:hover, .edx-footer-new .footer-follow-links a:hover {
    color: #1d9dd9;
    text-decoration: none;
}

header.global {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 2px solid #ddd;
    height: 76px;
    position: relative;
    width: 100%;
}

.edx-footer-new .footer-nav-title, .edx-footer-new .footer-follow-title {
    color: #262626;
}

.edx-footer-new .footer-nav {
    border-right: none;
}

.edx-footer-new {
    background-color: #f4f4f4;
    color: white;
    min-height: 364px;
    width: 100%;
}

.edx-footer-new .footer-about {
    border-right: none;
}

.edx-footer-new .footer-about-copy {
    color: #717171;
}

.copyright {
    background: none repeat scroll 0 0 #333;
    padding: 35px 95px;
}

div.text p, div.text p a{
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    color: #909090;
    font-size: 14px;
    line-height: 30px;
}


.copyright .text {
    margin-top: -30px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.copyright .edx_logo {
    margin-top: -15px;
}


/* header */

header.global .user a.user-link, header.global .user a.user-link .icon, header.global .user>.primary:last-child>a,
header.global .nav-courseware li .cta, header.global .nav-courseware li .cta:hover
{
    background-color: #0088cc;
    border: none;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}

header.global .nav-global li a, header.global .nav-global div a {
    text-transform: none;
    font-size: 15px;
    font-weight: normal;
    color: #777777;
}


/* registration view */
.register aside .cta-login .cta-login-action:hover {
    background-color: #0088cc;
}

.view-register .form-actions button[type="submit"] {
    background-color: #0088cc !important;
    box-shadow: none;
}

/* login view */
.view-login .form-actions button[type="submit"] {
    background-color: #0088cc;
    box-shadow: none;
}

.view-login .form-actions button[type="submit"]:hover {
    background-color: #0088cc;
}

/* restore password view */
#forgot-password-modal #password-reset .form-actions button[type="submit"] {
    background-color: #0088cc;
    box-shadow: none;
}

#forgot-password-modal #password-reset .form-actions button[type="submit"]:hover {
    background-color: #0088cc;
}

header.global .user>.primary:last-child>a.shopping-cart {
    border: none;
    padding: 8px 12px;
    border-radius: 2px;
    text-transform: none;
}

header.global .user>.primary:last-child>a.shopping-cart i{
    margin-right: 8px;
}

.username-label {
    margin-left: 20px;
}