<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
<h1>${_("Disclaimer")}</h1>
<p>
    UNICRI maintains this web site as a courtesy to those who may choose to access it . The information presented herein is for informative purposes only. UNICRI grants permission to users to download and copy the information, documents and materials for the user’s personal, non-commercial use, without any right to resell or redistribute them or to compile or create derivative works therefrom, subject to the terms and conditions outlined below, and also subject to more specific restrictions that may apply to specific material within this site.
</p><p>
UNICRI administers this site. The findings, interpretations and conclusions expressed in the materials on this site are those of the various UNICRI staff members, consultants and advisers who prepared the work and do not necessarily represent the views of UNICRI.
</p><p>
Materials provided on this site are provided “as is”, without warranty of any kind, either express or implied, including, without limitation, warranties of merchantability, fitness for a particular purpose and non-infringement. UNICRI specifically does not make any warranties or representations as to the accuracy or completeness of any such materials.
</p><p>
UNICRI periodically adds, changes, improves or updates the materials on this Site without notice. Under no circumstances shall UNICRI be liable for any loss, damage, liability or expense incurred or suffered that is claimed to have resulted from the use of this site, including, without limitation, any fault, error, omission, interruption or delay with respect thereto. The use of this site is at the user’s sole risk.
</p><p>
The user specifically acknowledges and agrees that UNICRI is not liable for any conduct of any user.
</p><p>
This site may contain advice, opinions and statements of various information providers. UNICRI does not represent or endorse the accuracy or reliability of any advice, opinion, statement or other information provided by any information provider, any user of this site or any other person or entity. Reliance upon any such advice, opinion, statement, or other information shall also be at the user’s own risk. Neither UNICRI nor its employees, information providers or content providers, shall be liable to any user or anyone else for any inaccuracy, error, omission, interruption, deletion, defect, alteration of or use of any content herein, or for its timeliness or completeness, nor shall they be liable for any failure of performance, computer virus or communication line failure, regardless of cause, or for any damages resulting therefrom.
</p><p>
As a condition of use of this site, the user agrees to indemnify UNICRI from and against any and all actions, claims, losses, damages, liabilities and expenses (including reasonable attorneys’ fees) arising out of the user’s use of this site, including, without limitation, any claims alleging facts that if true would constitute a breach by the user of these terms and conditions. If the user is dissatisfied with any material on this site or with any of its terms and conditions of use, the user’s sole and exclusive remedy is to discontinue using the site.
</p><p>
This site may contain links and references to third-party web sites. The linked sites are not under the control of UNICRI, and UNICRI is not responsible for the content of any linked site or any link contained in a linked site. UNICRI provides these links only as a convenience, and the inclusion of a link or reference does not imply the endorsement of the linked site by UNICRI.
</p><p>
The boundaries and names shown and the designations used on the maps on this site do not imply official endorsement or acceptance by the United Nations.
</p><p>
UNICRI reserves its exclusive right in its sole discretion to alter, limit or discontinue the site or any materials in any respect.
</p>
</section>